<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.BoardMapper">
    <insert id="insert">
        <selectKey keyProperty="boardNumber" order="BEFORE" resultType="long">
            SELECT SE_BOARD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TAB_BOARD(BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, USER_NUMBER)
        VALUES (#{boardNumber}, #{boardTitle}, #{boardContent}, #{userNumber})
    </insert>

    <delete id="delete">
        DELETE FROM TAB_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <update id="update">
        UPDATE TAB_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_UPDATE_DATE = SYSDATE
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <select id="select" resultType="boardVo">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE, B.USER_NUMBER, U.USER_ID
        FROM TAB_BOARD B JOIN TAB_USER U
        ON B.BOARD_NUMBER = #{boardNumber} AND B.USER_NUMBER = U.USER_NUMBER
    </select>

    <select id="selectAll" resultType="boardVo">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE,
        USER_NUMBER, USER_ID,
        FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME
        FROM(
        SELECT ROWNUM AS RNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE,
        USER_NUMBER, USER_ID, FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME
        FROM(
        SELECT B.BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE,
        B.USER_NUMBER, USER_ID,
        J.FILE_UPLOAD_PATH, J.FILE_UUID, FILE_NAME
        FROM TAB_USER U JOIN TAB_BOARD B
        ON U.USER_NUMBER = B.USER_NUMBER
        LEFT JOIN (
        SELECT FILE_NUMBER, FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME, BOARD_NUMBER
        FROM (
        SELECT FILE_NUMBER, FILE_UPLOAD_PATH, FILE_UUID, FILE_NAME, BOARD_NUMBER,
        RANK() OVER(PARTITION BY BOARD_NUMBER ORDER BY FILE_NUMBER) RK
        FROM TAB_FILE F
        )
        WHERE RK = 1
        ) J ON B.BOARD_NUMBER = J.BOARD_NUMBER
        ORDER BY B.BOARD_NUMBER DESC
        ) S1
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        ) S2
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TAB_BOARD
    </select>
</mapper>